@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: rgb(0, 77, 192);
    height: 100vh;
    width: 100vw;
}

div#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > h1 {
    color: white;
    font-size: 2.5em;
}

section {
    width: 250px;
    min-height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #00000a80;
    margin: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section > div#form {
    font-size: 1.1em;
    text-align: left;
    margin-left: 20px;
}

#form > div.field {
    margin: 10px 0;
}

#form > div.field > input {
    text-align: right;
    width: 50px;
}

#form button {
    font-size: 0.9em;
    width: 60px;
    height: 25px;
}

#result {
    margin-top: 10px;
}

#result > select {
    min-width: 200px;
    font-size: 1em;
    text-indent: 20px;
}

#result > select::-webkit-scrollbar {
    display: none;
}

footer {
    font-weight: bold;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.7);
}